@import "./variables.scss";
@import "./global.scss";

.add-post {
    @extend .container;

    .form-content {
        @extend .card;
        display: flex;
        flex-direction: column;
        gap: $spacing-medium;

        h2 {
            font-size: 24px;
            color: $dark-gray;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: $spacing-small;

            input,
            textarea {
                padding: $spacing-small;
                border: 1px solid $light-gray;
                border-radius: $border-radius;
                font-size: 16px;
                background-color: $card-background-color;
                color: $dark-gray;
                transition: border-color 0.3s;

                &:focus {
                    border-color: $primary-color;
                    outline: none;
                }
            }

            textarea {
               
                height: 120px;
            }

            button {
                @extend .button;
                align-self: flex-end;
            }
        }

        .error-message {
            @extend .error-message;
            text-align: center;
            margin-top: -$spacing-small; 
        }
    }
}

// Responsive
@media (max-width: $breakpoint-mobile) {
    .form-content {
        padding: $spacing-small;

        input,
        textarea {
            font-size: 14px;
        }

        button {
            width: 100%; 
        }
    }
}
