.error-message {
    background-color: #ff4d4f;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;

    button {
        background: none;
        border: none;
        color: black;
        font-weight: bold;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
