@import "./variables.scss";
@import "./mixins.scss";

// Buttons
.button {
    @include button-style($primary-color, darken($primary-color, 10%));
}

// Cards
.card {
    background-color: white;
    padding: $spacing-medium;
    border-radius: $border-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: $spacing-medium 0;
}

// Error Messages
.error-message {
    background-color: $error-color;
    color: white;
    padding: $spacing-small $spacing-medium;
    text-align: center;
    font-size: 14px;
    border-radius: $border-radius;
    margin: $spacing-small 0;
}
