@import "./variables.scss";
@import "./global.scss";

.home {
    
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $spacing-medium;

}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}