@import "./variables.scss";
@import "./global.scss";

.post-details {
    @extend .container;

    .post-content {
        @extend .card;

        h1 {
            font-size: 24px;
            color: $primary-color;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }

    .comments-section {
      
        border-top: 3px solid $light-gray;

        h2 {
            font-size: 20px;
            color: $secondary-color;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                background-color: $card-background-color;
                border-bottom: 1px solid $light-gray;
                padding-bottom: $spacing-small;
                

                &:last-child {
                    border-bottom: none;
                }

                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: $spacing-small;
                    color: $primary-color;
                }

                p {
                    font-size: 12px;
                    line-height: 1.4;
                }
            }
        }
    }
}
